# Documenting empty maps and lists

To document values that are not present in the `values.yaml` file, you can use the `@parseFoot` annotation. 
This will parse the foot comment as a yaml, treating it as it was part of the `values.yaml` file, allowing you to document values that are empty by default.

Requirements and limitations:
- The `@parseFoot` annotation must be on the object or list.
- The foot comment must be valid yaml. Indentation before or after `#` does not matter and leading whitespace will be removed, it just needs to be on a same level.
- There needs to be a blank line between the end of the foot comment and head comment of next value.
- The keys for commented values must not be present, or the description will not work. 
  ex: `env[].name -- Env name` is not valid, needs to be `-- Env name`
- You can use one item to document a list, the `[0]` will be replaced with `[]`, but `[1]` will be kept as is. 
- You can use any key to document a map, it's kept as is, so you can even have multiple items to document different use cases, but avoid using `"*"` without escaping it, as it can be rendered as italic in markdown in double nested item, prefer using ``"`*`"`` instead.

{{ template "chart.valuesSection" . }}
