:root {
	--theme-color: #0077b6;
	--theme-color-dark: #03045e;

	--text-color-base: #2e2e46;
	--text-color-secondary: #646473;
	--text-color-tertiary: #81818e;
}

body {
	font-size: 100%;
	line-height: 1.5;
	color: var(--text-color-base);
}

* {
	text-decoration: none !important;
}

a {
	transition: all 0.3s linear;
}

/****** Cover Page ******/
section.cover {
	padding-bottom: 112px; /* fixed footer (Netflix) height */
	height: auto;
	min-height: 100vh;
	/**
	 * Intended to defeat this inline style on initial boot that flashes when on page load:
	 * https://github.com/docsifyjs/docsify/blob/8352a1e489abc2a7b6361fe02d696e1891a031cd/src/core/render/tpl.js#L56-L70
	 */
	background: #fff !important;
}

section.cover .cover-main {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin: 0;
	padding: 32px 16px 0;
}

section.cover img {
	width: 400px;
}

section.cover h1 {
	margin: 0.625rem 0 1rem;
}

section.cover blockquote,
section.cover blockquote p {
	margin: 0;
}

section.cover ul {
	font-size: 1.25rem;
	line-height: 2rem;
	display: grid;
	text-align: left;
	grid-column-gap: 16px;
	grid-row-gap: 20px;
	grid-template-columns: repeat(2, 50%);
	list-style: none;
	max-width: unset;
	margin: 1.5em 0;
}

section.cover ul li {
	white-space: nowrap;
}

section.cover.show ~ .sidebar,
section.cover.show ~ .sidebar-toggle {
	display: none;
}

.cover-main .netflix-logo {
	position: fixed;
	display: flex;
	align-items: center;
	background: #ffffff;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 40px;
	z-index: 5;
}

.cover-main .netflix-logo .logo {
	width: 125px;
	height: 32px;
	background: url('images/Netflix_Logo.png');
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center center;
}

.cover-main .buttons {
	width: 100%;
}

.cover-main .buttons a {
	font-weight: 700;
	position: relative;
	display: inline-block;
	padding: 12px 25px;
	font-size: 14px;
	text-align: center;
	line-height: 18px;
	color: #221f1f;
	background: #fff;
	outline: none;
	border: none;
	background-color: #fff;
	-webkit-appearance: none;
	-moz-appearance: none;
	cursor: pointer;
	margin: 0 1rem;
	color: var(--theme-color);
	overflow: hidden;
	transition: color 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
	vertical-align: baseline;
	text-transform: uppercase;
}

.cover-main .buttons a:before,
.cover-main .buttons a:after {
	content: '';
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	border: 2px solid var(--theme-color);
	box-sizing: border-box;
}

.cover-main .buttons a:after {
	background: var(--theme-color);
	transform: translateX(-101%);
	transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.cover-main .buttons a:hover {
	color: white;
	box-shadow: 0 5px 16px rgba(3, 4, 94, 0.3);
}

.cover-main .buttons a:hover:after {
	transform: translateX(0);
}

.cover-main .buttons a span {
	position: relative;
	z-index: 1;
}

@media (max-width: 850px) {
	section.cover ul {
		grid-template-columns: 100%;
		padding: 0;
	}

	section.cover ul li {
		text-align: center;
	}
}

@media (max-width: 450px) {
	section.cover ul li {
		white-space: normal;
	}

	.cover-main .buttons a {
		width: 100%;
		margin: 0.2rem 0;
	}
}
